{#
/*
 * This file is part of the ProductExternalLink plugin
 *
 * Copyright (C) 2017 Shotaro HAMA All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{% if pel_ProductMakers[Product.id] is not empty %}
    {% set pel_ProductMaker = pel_ProductMakers[Product.id] %}
    {% if pel_ProductMaker.other_url|length > 0 %}
        <a href="{{ pel_ProductMaker.other_url }}" target="{{ pel_ProductMaker.other_url_target }}">ボタン</a>
    {% endif %}
{% endif %}
